__pycache__/
app/media
# Environments
.env
.venv/
logs/
# VS Code
.vscode/
.DS_Store
.ruff_cache
.prettierrc
watchlist/data.db
.opencode/
openspec/
.pytest_cache/
# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.idea
.env.docker
idea/
data.db
watchlist/data-dev.db
node_modules/
dev.py
.sisyphus/
watchlist/static/.webassets-cache
trans.sh
extract_messages.py
babel.cfg
legacy/
jwt
response_data
media/