{% extends "base.html" %} {% block title %}Register{% endblock %}
{%
  block
  content
%}
  {% block scripts %}
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
  {% endblock %}
  <div
    class="mx-auto mb-4 max-w-md rounded-lg bg-white p-4 text-center shadow-lg dark:bg-gray-800"
  >
    <p class="text-2xl font-bold dark:text-white">Register?</p>
    <p class="text-gray-500 italic dark:text-gray-400">
      Create an account to start managing your reading list!
    </p>
  </div>
  <div
    class="m-4 mx-auto max-w-md rounded-xl bg-white p-8 shadow-xl dark:bg-gray-800"
  >
    <form method="post">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{
          form.username.label(class="block text-sm font-medium text-gray-700
          dark:text-gray-300 mb-3")
        }}
        {{
          form.username(autofocus=True,
          autocomplete="off", class="form-control",
          placeholder=form.username.description, required=True)
        }}
        {%
          for error in
          form.username.errors
        %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>
      <!-- email表单 -->
      <div class="form-group">
        {{
          form.email.label(class="block text-sm font-medium text-gray-700
          dark:text-gray-300 mb-3")
        }}
        {{
          form.email(id="email", type="email",
          autocomplete="off", class="form-control",
          placeholder=form.email.description, required=True)
        }}
        {%
          for error in
          form.email.errors
        %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>
      <!-- password表单 -->

      <div class="form-group">
        {{
          form.password.label(class="block text-sm font-medium text-gray-700
          dark:text-gray-300 mb-3")
        }}
        {{
          form.password(type="password",
          autocomplete="off", class="form-control",
          placeholder=form.password.description, required=True)
        }}
        {%
          for error in
          form.password.errors
        %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- confirm_password表单 -->
      <div class="form-group">
        {{
          form.confirm_password.label(class="block text-sm font-medium
          text-gray-700 dark:text-gray-300 mb-3")
        }}
        {{
          form.confirm_password(type="password", autocomplete="off",
          class="form-control", placeholder=form.confirm_password.description,
          required=True)
        }}
        {% for error in form.confirm_password.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- email_code表单 -->
      <div class="flex items-end gap-2">
        <div class="form-group mb-0 w-full">
          {{
            form.email_code.label(class="block text-sm font-medium text-gray-700
            dark:text-gray-300 mb-3")
          }}
          {{
            form.email_code(autocomplete="off",
            class="form-control",type="text" ,
            placeholder=form.email_code.description, required=True)
          }}
          {%
            for error
            in form.email_code.errors
          %}
            <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="flex">
          <button
            id="send-code"
            type="button"
            class="btn h-full rounded-xl p-2"
          >
            SendCode
          </button>
        </div>
      </div>

      {{
        form.submit(class="btn-primary text-white mt-4 px-6 py-2 rounded-xl
        font-semibold shadow-md")
      }}
      {% for error in form.submit.errors %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    </form>
  </div>
  <div class="mb-4 text-center text-gray-700">
    Already have an account?
    <a
      class="underline transition duration-100 hover:font-bold"
      href="{{ url_for('auth.login') }}"
      >Login here.</a
    >
  </div>
{% endblock %}
