{% extends "base.html" %}
{% block title %}Import{% endblock %}
{% block content %}
  {% block scripts %}
    <script src="{{ url_for('static', filename='js/import.js') }}"></script>
  {% endblock %}
  {# 提示框 #}
  <div
    class="mx-auto max-w-md rounded-lg bg-white p-4 text-center shadow-lg dark:bg-gray-800"
  >
    <p class="text-2xl font-bold dark:text-white">Import Your Bookshelf!</p>
    <p class="text-gray-500 italic dark:text-gray-400">
      Import your bookshelf from WEREAD here.
    </p>
  </div>

  <div
    class="m-4 mx-auto flex max-w-md items-center justify-center rounded-xl bg-white p-8 shadow-xl dark:bg-gray-800"
  >
    <div class="flex items-center justify-center">
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-4">
          {{
            form.weread_cookie.label(class="block mb-2 text-sm font-bold
            text-gray-700 dark:text-white")
          }}
          {{
            form.weread_cookie(id="weread_cookie",class="w-full transition-transform
            focus:scale-[1.01] rounded-xl border border-gray-300 p-2
            dark:bg-gray-700 dark:text-white")
          }}
        </div>
        <div class="mb-4 flex justify-center">
          {{
            form.submit(id="submit-button", class="btn-primary text-white flex
            items-center gap-2 rounded-xl px-8 py-2.5 font-bold shadow-lg
            shadow-blue-500/30 ring-offset-2 focus:ring-2 focus:ring-blue-500
            dark:ring-offset-gray-800")
          }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
